.bg-image {
    background-image: url('../images/gargantua.jpg');
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;
    z-index: 1;
}
.ship {
	width: 777px;
	height: 700px;
	animation-direction:normal;
	animation: rotating 30s infinite ease-in;
}
.astronaut {
    width: 200px;
	height: 200px;
	
	transform: translate(-50%, -50%);
	left: 30%;
 	top: 60%;
	animation: reaching 25s infinite ease-in;
	animation-direction:alternate;

}
.astro1 {
    
}

@keyframes reaching{
	0%{transform: scale(0);}
	
    
    100%{transform: scale(1.3);}
}

@keyframes rotating{
	0%{transform: translate(-60%, -35%) rotate(45deg);}
	100%{transform: translate(800px, 90px) rotate(360deg);}
}

